<%# Locals: utm_campaign (string) %>
<div class="mt-6 pb-2 flex justify-center items-center text-sm text-gray-600">
  Built with 🩵 by the
  <%= link_to "https://yachtwarriors.com?utm_source=bvicruise&utm_medium=web&utm_campaign=#{utm_campaign}", target: "_blank", rel: "noopener" do %>
    <%= image_tag "yw_logo.png", alt: "Yacht Warriors Logo", class: "inline h-5 ml-2" %>
  <% end %>
</div>
